* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, lightblue, grey);
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: lightblue;
  align-items: center;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
}

i {
  justify-self: end;
  color: grey;
}
